In [13]:
def info_std(name,age = 18):
    '''
    this function takes two inputs from user (his name and age)
    parm_1: take the name from user
    type_parm_1: str
    parm_2: take the age from user
    type_parm_2: int
    return: return name and age of student
    type_return: str, int
    '''
    print(f"My name is {name},and my age is {age}")

In [6]:
info_std('Ayman',20)

My name is Ayman,and my age is 20

In [2]:
import math
math.sin(50)

-0.26237485370392877

In [7]:
info_std(age= 21,name= "Ayman")

My name is Ayman,and my age is 21

In [14]:
info_std("Abdo")

My name is Abdo,and my age is 18

In [17]:
def info_std(*name):
    '''
    this function takes two inputs from user (his name and age)
    parm_1: take the name from user
    type_parm_1: str
    parm_2: take the age from user
    type_parm_2: int
    return: return name and age of student
    type_return: str, int
    '''
    print(f"My name is {name}")
    print(type(name))
info_std('Ayman','Ali','Ahmed')

My name is ('Ayman', 'Ali', 'Ahmed')
<class 'tuple'>

In [20]:
def func1(*x):
    print(x)
    print(type(x))
func1('hello', 'python', 'amit', 2, 2.5, True)

('hello', 'python', 'amit', 2, 2.5, True)
<class 'tuple'>

In [21]:
def info_std(**name):
    '''
    this function takes two inputs from user (his name and age)
    parm_1: take the name from user
    type_parm_1: str
    parm_2: take the age from user
    type_parm_2: int
    return: return name and age of student
    type_return: str, int
    '''
    print(f"My name is {name}")
    print(type(name))
info_std(Ayman= 20,Ali= 25,Ahmed= "30")

My name is {'Ayman': 20, 'Ali': 25, 'Ahmed': '30'}
<class 'dict'>

In [ ]:
sum_n = lambda x : x+10
sum_n(10)

20

In [26]:
def sum_num(x):
    return x+10
sum_num(10)

20

In [ ]:
def sum_num(x):
    return x+10

In [27]:
sum_1 = lambda x,y : x+y
sum_1(10,20)

30

In [28]:
def sum_2(x,y):
    return x+y
sum_2(10,25)

35

In [30]:
def sum_n(n):
    return lambda a : a*n
fun_1 = sum_n(11)
fun_1(2)

22

In [37]:
try:
    5/0
except Exception as e:
    print(e)

division by zero

In [35]:
try:
    x=10
    y=int(input('enter your value: '))
    x/y
except:
    print('Not acceptable to divide by Zero')

Not acceptable to divide by Zero

In [39]:
a=5
y= 10
try:
    a/0
except NameError:
    print('aaa')

ZeroDivisionError: division by zero

In [48]:
import random
random.random
n= random.random()
def calc_degree(n):
    return n*n
calc_degree(n)

0.181113683637807

In [49]:
import os

In [50]:
file = os.listdir("G:/DEPI/Depi_Amit_AI_BNS3/Sources/session3/Function/OOP")
print(file)

['function_basics.ipynb']

In [52]:
base_dir = "G:/DEPI/Depi_Amit_AI_BNS3/Sources/session2/Func_oop"
file_name = "test.txt"
file_root_path = os.path.join(base_dir, file_name)
file_root_path

'G:/DEPI/Depi_Amit_AI_BNS3/Sources/session2/Func_oop\\test.txt'

In [54]:
import os
dir1 = "G:/DEPI/Depi_Amit_AI_BNS3/Sources/session2/Func_oop"
if not os.path.exists(dir1):
    os.makedirs(dir1)
else:
    print("Directory already exists: ", dir1)

Directory already exists:  G:/DEPI/Depi_Amit_AI_BNS3/Sources/session2/Func_oop

In [1]:
import os
path = "G:/DEPI/Depi_Amit_AI_BNS3/Sources/session2/Func_oop"
if not os.path.exists(path):
    os.makedirs(path)
for i in range (20):
    inner_path = os.path.join(path,"dir_" + str(i))
    if not os.path.exists(inner_path):
            os.makedirs(inner_path)

In [66]:
def factorial(num):
    """
    
    """
    if num == 0:
        return 1
    if num == 1:
        return 1
    return num*factorial(num-1)
factorial(3)

6

In [69]:
import random
def generate_password(length):
    characters = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890!@#$%^&*"
    password = ""
    for _ in range (length):
        password += random.choice(characters)
    return password
generate_password(8)

'CTibOIcd'