In [2]:
pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl.metadata (5.0 kB)
Downloading psycopg2_binary-2.9.10-cp312-cp312-win_amd64.whl (1.2 MB)
   ---------------------------------------- 0.0/1.2 MB ? eta -:--:--
   --------- ------------------------------ 0.3/1.2 MB ? eta -:--:--
   ---------------------------------------- 1.2/1.2 MB 3.9 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import psycopg2

# reset password
##### ALTER USER postgres WITH PASSWORD 'new_password';

In [2]:
my_conn = psycopg2.connect(

    host = "localhost",
    database = "ds_new",
    user = "postgres",
    password = "456456"


)

In [3]:
cur = my_conn.cursor()

In [14]:
cur.execute('SELECT current_user')
print(cur.fetchone()[0])

postgres

In [ ]:
my_conn.autocommit = True
cur = my_conn.cursor()
 
cur.execute("CREATE DATABASE DS_NEW")

How to get all database names

In [4]:
cur.execute("select datname from PG_database where datistemplate = false")
for db in cur.fetchall():
    print(db[0])

postgres
Depi
School
Data
Test
ds_new

In [5]:
cur.execute("create table students (name VARCHAR(50), phone VARCHAR(20))")
print("table created")

table created

In [6]:
cur.execute("Alter table students rename column phone_ to phone")
print("column changed")

column changed

In [4]:
my_conn.autocommit = True

In [7]:
sql = "insert into students (name,phone) values (%s, %s)"
data = ("Abdallah", "01090995302")
cur.execute(sql,data)
# my_conn.commit()
print("the new record was inserted")
print(cur.rowcount)

the new record was inserted
1

In [10]:
sql = "insert into students (name,phone) values (%s, %s)"
data = [
    ("Abdallah", "01090995302"),
    ("Abdallah", "01090995302"),
    ("Abdallah", "01090995302"),
    ("Abdallah", "01090995302"),
    ("Abdallah", "01090995302")
]
cur.executemany(sql,data)
print("the new record was inserted")
print(cur.rowcount)

the new record was inserted
5

In [11]:
cur.execute("select * from students")
results = cur.fetchall()
for i in results:
    print(i)

('Ayman', '01100351518')
('Abdallah', '01090995302')
('Abdallah', '01090995302')
('Abdallah', '01090995302')
('Abdallah', '01090995302')
('Abdallah', '01090995302')
('Abdallah', '01090995302')

In [12]:
cur.execute("select name from students")
results = cur.fetchall()
for i in results:
    print(i)

('Ayman',)
('Abdallah',)
('Abdallah',)
('Abdallah',)
('Abdallah',)
('Abdallah',)
('Abdallah',)

In [13]:
cur.execute("select phone from students where name = 'Ayman'")
results = cur.fetchall()
for i in results:
    print(i)

('01100351518',)

In [14]:
# Get inputs from user
update_value = input("Enter new phone: ")
condition_value = input("Enter student name: ")
 
# Create the data tuple
data = (update_value, condition_value)
 
# Execute update with parameters
sql = cur.execute("UPDATE students SET phone = %s WHERE name = %s", data)
my_conn.commit()
 
# Fetch and print all rows
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)

('Ayman', '01100351518')
('Abdallah', '01122334455')
('Abdallah', '01122334455')
('Abdallah', '01122334455')
('Abdallah', '01122334455')
('Abdallah', '01122334455')
('Abdallah', '01122334455')

In [16]:
# Ask for the student name to delete
name_to_delete = input("Enter student name to delete: ")
 
# Execute delete with parameter
cur.execute("DELETE FROM students WHERE name = %s", (name_to_delete,))
my_conn.commit()
 
# Check if anything was deleted
if cur.rowcount > 0:
    print(f"{cur.rowcount} record(s) deleted.")
else:
    print("No student found with that name.")
 
# Show remaining records
cur.execute("SELECT * FROM students")
results = cur.fetchall()
for row in results:
    print(row)

No student found with that name.
('Ayman', '01100351518')