In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abdallah.ayman\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\abdallah.ayman\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   - -------------------------------------- 0.5/11.0 MB 3.4 MB/s eta 0:00:04
   --- ------------------------------------ 1.0/11.0 MB 3.4 MB/s eta 0:00:03
   ------ --------------------------------- 1.8/11.0 MB 3.2 MB/s eta 0:00:03
   --------- ------------------------------ 2.6/11.0 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 3.7/11.0 MB 3.6 MB/s eta 0:00:03
   ---------------- ----------------------- 4.5/11.0 MB 3.6 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 3.6 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.0 MB 3.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.6/11.0 MB 3.6 MB/s eta 0:00:02
   -------------------------- ------------- 7.3/11.0 MB 3.6 MB/s eta 0:00:02
   ----------------------------- ---------- 8.1/11.0 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.0 MB 3.7 MB/s eta 0:00:01
   ----------------------------------- ---- 9.7/11.0 MB 3.7 MB/s eta 0:00:01
   -------------------------------------- - 10.5/11.0 MB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 3.6 MB/s eta 0:00:00
Downloading numpy-2.3.2-cp312-cp312-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   - -------------------------------------- 0.5/12.8 MB 4.2 MB/s eta 0:00:03
   ---- ----------------------------------- 1.6/12.8 MB 3.8 MB/s eta 0:00:03
   ------ --------------------------------- 2.1/12.8 MB 3.7 MB/s eta 0:00:03
   -------- ------------------------------- 2.6/12.8 MB 3.4 MB/s eta 0:00:03
   ---------- ----------------------------- 3.4/12.8 MB 3.4 MB/s eta 0:00:03
   ------------- -------------------------- 4.2/12.8 MB 3.4 MB/s eta 0:00:03
   -------------- ------------------------- 4.7/12.8 MB 3.4 MB/s eta 0:00:03
   ---------------- ----------------------- 5.2/12.8 MB 3.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.5/12.8 MB 3.1 MB/s eta 0:00:03
   ------------------ --------------------- 6.0/12.8 MB 3.0 MB/s eta 0:00:03
   -------------------- ------------------- 6.6/12.8 MB 2.9 MB/s eta 0:00:03
   -------------------- ------------------- 6.6/12.8 MB 2.9 MB/s eta 0:00:03
   ---------------------- ----------------- 7.1/12.8 MB 2.7 MB/s eta 0:00:03
   ------------------------ --------------- 7.9/12.8 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 8.1/12.8 MB 2.6 MB/s eta 0:00:02
   ---------------------------- ----------- 9.2/12.8 MB 2.7 MB/s eta 0:00:02
   ------------------------------- -------- 10.0/12.8 MB 2.8 MB/s eta 0:00:02
   --------------------------------- ------ 10.7/12.8 MB 2.8 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.8 MB 2.9 MB/s eta 0:00:01
   ------------------------------------- -- 12.1/12.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 2.9 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas

   ---------------------------------------- 0/4 [pytz]
   ---------- ----------------------------- 1/4 [tzdata]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   -------------------- ------------------- 2/4 [numpy]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ------------------------------ --------- 3/4 [pandas]
   ---------------------------------------- 4/4 [pandas]

Successfully installed numpy-2.3.2 pandas-2.3.1 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd

In [3]:
s = pd.Series([1,2,3,4])
s

0    1
1    2
2    3
3    4
dtype: int64

In [3]:
s = pd.Series([1,2,3,4],index= ['A','B','C','D'])
s

A    1
B    2
C    3
D    4
dtype: int64

In [6]:
data = [
    [1,444,'ahmed'],
    [2,555,'renad'],
    [3,666,'faris'],
    [4,777,'ayman'],
]
df = pd.DataFrame(data, columns= ['index', 'Std_ID','ID'])
df

   index  Std_ID     ID
0      1     444  ahmed
1      2     555  renad
2      3     666  faris
3      4     777  ayman

In [9]:
data = {
    'index': [1,444,'ahmed'],
    'Std_ID': [2,555,'renad']
}
df = pd.DataFrame(data)
df

   index Std_ID
0      1      2
1    444    555
2  ahmed  renad

In [ ]:
data = pd.DataFrame([
    [1,444,'ahmed'],
    [2,555,'renad'],
    [3,666,'faris'],
    [4,777,'ayman'],
])
# display(df)
# cols = ['A','B']
# df.columns = cols
# idx = ['row_1','row_2','row_3']
# df.index = idx
display(df)

           A      B
row_1      1      2
row_2    444    555
row_3  ahmed  renad

In [24]:
data = [
    [1,444,'ahmed'],
    [2,555,'renad'],
    [3,666,'faris'],
    [4,777,'ayman'],
]
df = pd.DataFrame(data, columns= ['index', 'Std_ID','Name'])
df

   index  Std_ID   Name
0      1     444  ahmed
1      2     555  renad
2      3     666  faris
3      4     777  ayman

In [25]:
df.dtypes

index      int64
Std_ID     int64
Name      object
dtype: object

In [26]:
df['Name'].dtype

dtype('O')

In [27]:
df['Std_ID'] = df['Std_ID'].astype('category')
df.dtypes

index        int64
Std_ID    category
Name        object
dtype: object

In [29]:
cols = ['index','Name']
df[cols] = df[cols].astype('category')
df.dtypes

index     category
Std_ID    category
Name      category
dtype: object

In [35]:
df['index'] = df['index'].astype('int')
df.dtypes

index        int64
Std_ID       int64
Name      category
dtype: object

In [36]:
df.head()

   index  Std_ID   Name
0      1     444  ahmed
1      2     555  renad
2      3     666  faris
3      4     777  ayman

In [39]:
df.tail()

   index  Std_ID   Name
0      1     444  ahmed
1      2     555  renad
2      3     666  faris
3      4     777  ayman

In [49]:
data = [
    [1,1,'ahmed'],
    [2,3,'renad'],
    [3,5,'faris'],
    [4,100,'ayman'],
]
df = pd.DataFrame(data, columns= ['index', 'Std_ID','Name'])
df

   index  Std_ID   Name
0      1       1  ahmed
1      2       3  renad
2      3       5  faris
3      4     100  ayman

In [50]:
df.describe(include='int')

          index      Std_ID
count  4.000000    4.000000
mean   2.500000   27.250000
std    1.290994   48.527484
min    1.000000    1.000000
25%    1.750000    2.500000
50%    2.500000    4.000000
75%    3.250000   28.750000
max    4.000000  100.000000

In [51]:
df.columns

Index(['index', 'Std_ID', 'Name'], dtype='object')

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   4 non-null      int64
 1   Std_ID  4 non-null      int64
 2   Name    4 non-null      object
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [55]:
df['Name'].unique()

array(['ahmed', 'renad', 'faris', 'ayman'], dtype=object)

In [59]:
df['Std_ID'].max()

np.int64(100)

In [60]:
df['Std_ID'].idxmax()

3

In [61]:
df['Name'].value_counts()

Name
ahmed    1
renad    1
faris    1
ayman    1
Name: count, dtype: int64

In [68]:
df['Std_ID'].sum()

np.int64(109)

In [66]:
df.max()

index         4
Std_ID      100
Name      renad
dtype: object

In [70]:
df.values

array([[1, 1, 'ahmed'],
       [2, 3, 'renad'],
       [3, 5, 'faris'],
       [4, 100, 'ayman']], dtype=object)

In [73]:
df.replace(100,"ahmed")

   index Std_ID   Name
0      1      1  ahmed
1      2      3  renad
2      3      5  faris
3      4  ahmed  ayman

In [76]:
df.replace({4 :"amir"})

  index  Std_ID   Name
0     1       1  ahmed
1     2       3  renad
2     3       5  faris
3  amir     100  ayman

In [81]:
df.iloc[2,1]

np.int64(5)

In [82]:
df.Std_ID.iloc[0:2]

0    1
1    3
Name: Std_ID, dtype: int64

In [ ]:
df.iloc[:,:-1]

   index  Std_ID
0      1       1
1      2       3
2      3       5
3      4     100

In [92]:
new_col = df.index + df.Std_ID
# new_col
df.insert(3,'new_cols',new_col)

In [93]:
df

   index  Std_ID   Name  new_cols
0      1       1  ahmed         1
1      2       3  renad         4
2      3       5  faris         7
3      4     100  ayman       103

In [ ]:
# df.drop

In [ ]:
# df.append