In [3]:
list1 = [1,2,3,4,'Depi','Learning',True,[1,2,3,'True',['ML','DL','DS']]]
type(list1)

list

In [6]:
list1[7][4][0]

'ML'

In [7]:
list1[4] = 'amit'
list1

[1, 2, 3, 4, 'amit', 'Learning', True, [1, 2, 3, 'True', ['ML', 'DL', 'DS']]]

In [8]:
x = 'Ayman'
print(type(x))
y = list(x)
print(type(y))

<class 'str'>
<class 'list'>

In [9]:
list2 = ['Depi','Data','Science']
list2.append('Machine Learning')
list2

['Depi', 'Data', 'Science', 'Machine Learning']

In [ ]:
list2.insert(0,'Machine Learning')
list2

['Machine Learning', 'Depi', 'Data', 'Science']

In [12]:
x1 = [1,2,3]
x2 = [3,4,5]
x1.extend(x2)
x1

[1, 2, 3, 3, 4, 5]

In [13]:
list2 = ['Depi','Data','Science']
list2.remove('Depi')
list2

['Data', 'Science']

In [17]:
list2 = ['Depi','Data','Science']
print(list2.pop(0))
list2

Depi

['Data', 'Science']

In [18]:
my_list = [3,1,4,1,5,9,2]
my_list.sort()
my_list

[1, 1, 2, 3, 4, 5, 9]

In [19]:
my_list = [3,1,4,1,5,9,2]
my_list.reverse()
my_list

[2, 9, 5, 1, 4, 1, 3]

In [22]:
my_list = [3,1,4,1,5,9,2]
my_list.clear()
my_list

[]

In [23]:
del my_list
# my_list

In [25]:
tuple1 = (1,2,3,4,'Depi','Learning',True,[1,2,3,'True',('ML','DL','DS')])
print(type(tuple1))

<class 'tuple'>

In [29]:
tuple1 = list(tuple1)
tuple1[4] = 'AMIT'
print(tuple1)
print(type(tuple1))
tuple1 = tuple(tuple1)
print(tuple1)
print(type(tuple1))

[1, 2, 3, 4, 'AMIT', 'Learning', True, [1, 2, 3, 'True', ('ML', 'DL', 'DS')]]
<class 'list'>
(1, 2, 3, 4, 'AMIT', 'Learning', True, [1, 2, 3, 'True', ('ML', 'DL', 'DS')])
<class 'tuple'>

In [32]:
x3 = ['ahmed','ali','mona']
x3 = set(x3)
print(x3)
type(x3)

{'ali', 'ahmed', 'mona'}

set

In [33]:
dict1 = {'k1': 12.7,'k2':'Depi','k3':'Python'}
dict1['k1'] = 'amit learning'
dict1

{'k1': 'amit learning', 'k2': 'Depi', 'k3': 'Python'}

In [35]:
list3 = [('a',1),('b',2),('c',3)]
list3
dict2 = dict(list3)
dict2

{'a': 1, 'b': 2, 'c': 3}

In [41]:
degree = int(input("Enter student's degree: "))
if 0 <= degree <= 100:
    if degree < 60:
        print('Grade: F')
    elif degree < 70:
        print('Grade: D')
    elif degree < 80:
        print('Grade: C')
    elif degree < 90:
        print('Grade: B')
    else:
        print('Grade: A')
else:
    print('Invalid degree')

Invalid degree

In [42]:
for i in range (6):
    if i == 3:
        continue
    print(i)

0
1
2
4
5

In [43]:
for i in range (6):
    if i == 4:
        break
    print(i)

0
1
2
3

In [44]:
for i in range (6):
    if i == 3:
        pass
    else:
        print(i)

0
1
2
4
5

In [48]:
x = 1
while x<=10:
    print(x)
    x = x+1

1
2
3
4
5
6
7
8
9
10