In [8]:
print("Hello World")

Hello World

In [ ]:
x = "Hello"

In [7]:
hex(id(x))

'0x236610021f0'

In [9]:
type(x)

str

In [11]:
'''print("Hello World")
print("Hello World")
print("Hello World")
'''

'print("Hello World")\nprint("Hello World")\nprint("Hello World")\n'

In [ ]:
age = 20
name = 'Ayman'
print("my age is", age)

my age is 20

In [17]:

print("my name is {0}, and my age is {1}".format(name,age))
print(f'my name is {name}, and my age is {age}')

my name is Ayman, and my age is 20
my name is Ayman, and my age is 20

In [ ]:
str1 = 'Amit Learning'
str1[-3]
print(str1[0:4:2])
print(str1[:])

Ai
Amit Learning

In [2]:
str2 = 'Amit Learning'
print(str2.upper())
print(str2.lower())
print(str2.capitalize())
print(str2.replace('Amit','Hello'))
print(str2.count("n"))
str2[3]
str2[6]
str2

AMIT LEARNING
amit learning
Amit learning
Hello Learning
2

'Amit Learning'

In [44]:
words= ['This', 'is', 'a', 'sentence.']
print('-'.join(words))

This-is-a-sentence.

In [ ]:
list1 = [1,2,3,4]
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
list2 = ['Ayman', 20,50,True]
print(len(list2))
list2 + ['Ahmed']

4

['Ayman', 20, 50, True, 'Ahmed']

In [ ]:
dict1 = {'k1':'v1','k2':'v2'}
dict1['k1']

'v1'

In [ ]:
2 == 2

True

In [53]:
'A' in 'Ayman'

True

In [ ]:
# find
# strip

In [56]:
input('Enter your name: ')

'Ayman Ahmed'

In [57]:
n1 = int(input('Enter first number: '))
n2 = int(input('Enter second number: '))
mul = n1 * n2
subt = n1 - n2
print(f'numbers multiplied = {mul}, numbers subtracted = {subt}')

numbers multiplied = 20, numbers subtracted = 1